# Data Wrangling and Visualization

## Librerias

### Instalacion

### Importacion

In [2]:
import pandas as pd

## Lectura Datos

In [3]:
dfFinalSet = pd.read_csv('FinalSet.csv', dtype = {'codigoencabezado': 'int32'})

dfFinalSet.describe(include = 'all')

,codigoencabezado,idregistro,linkpagina,fecharegistro,administracion,amueblado,antiguedad,banos,habitaciones,estudio,...,moneda,tipo,tipo_vendedor,favoritos,titulo,fecha_creacion,valido_hasta,descripcion,partner_code,user_id
count,520.000000,5.200000e+02,520,520,97.000000,295,178,520.000000,520.000000,520,...,520,520,431,520.000000,520,520,520,520,81,5.200000e+02
unique,NaN,NaN,303,4,NaN,2,7,NaN,NaN,2,...,2,2,2,NaN,292,323,299,300,47,NaN
top,NaN,NaN,https://www.olx.com.gt/item/apartamento-en-zon...,2020-05-20,NaN,No,A estrenar,NaN,NaN,No,...,US$,Apartamento,Inmobiliaria,NaN,APARTAMENTO EN ZONA 15 / ACODI,2020-05-16T03:21:04-06:00,2020-08-13T03:22:20-06:00,"Vivienda abierta (sin muros en el dormitorio),...",11218,NaN
freq,NaN,NaN,5,240,NaN,216,56,NaN,NaN,515,...,377,511,385,NaN,7,8,8,6,4,NaN
mean,260.500000,1.092811e+09,NaN,NaN,434.608247,NaN,NaN,1.988462,2.155769,NaN,...,NaN,NaN,NaN,1.355769,NaN,NaN,NaN,NaN,NaN,3.356498e+07
std,150.255338,1.723419e+07,NaN,NaN,692.991501,NaN,NaN,0.851080,0.853851,NaN,...,NaN,NaN,NaN,3.213406,NaN,NaN,NaN,NaN,NaN,2.283419e+07
min,1.000000,1.033663e+09,NaN,NaN,0.000000,NaN,NaN,1.000000,1.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,4.263970e+06
25%,130.750000,1.100198e+09,NaN,NaN,0.000000,NaN,NaN,1.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,2.325799e+07
50%,260.500000,1.100371e+09,NaN,NaN,0.000000,NaN,NaN,2.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,2.678192e+07
75%,390.250000,1.100374e+09,NaN,NaN,750.000000,NaN,NaN,2.000000,3.000000,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,5.658755e+07
max,520.000000,1.100380e+09,NaN,NaN,2000.000000,NaN,NaN,5.000000,8.000000,NaN,...,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,8.030986e+07

## Data Wrangling

### Conversion Series

In [4]:
dfFinalSet = dfFinalSet.astype({'codigoencabezado': 'str', 
                                'idregistro': 'str',
                                'partner_code': 'str',
                                'user_id': 'str'
                               })

dfFinalSet['fecharegistro'] = pd.to_datetime(dfFinalSet['fecharegistro'], format = "%Y-%m-%d")

dfFinalSet.describe(include = 'all')

,codigoencabezado,idregistro,linkpagina,fecharegistro,administracion,amueblado,antiguedad,banos,habitaciones,estudio,...,moneda,tipo,tipo_vendedor,favoritos,titulo,fecha_creacion,valido_hasta,descripcion,partner_code,user_id
count,520,520,520,520,97.000000,295,178,520.000000,520.000000,520,...,520,520,431,520.000000,520,520,520,520,520,520
unique,520,303,303,4,NaN,2,7,NaN,NaN,2,...,2,2,2,NaN,292,323,299,300,48,91
top,295,1100373458,https://www.olx.com.gt/item/apartamento-en-zon...,2020-05-20 00:00:00,NaN,No,A estrenar,NaN,NaN,No,...,US$,Apartamento,Inmobiliaria,NaN,APARTAMENTO EN ZONA 15 / ACODI,2020-05-16T03:21:04-06:00,2020-08-13T03:22:20-06:00,"Vivienda abierta (sin muros en el dormitorio),...",nan,24012106
freq,1,5,5,240,NaN,216,56,NaN,NaN,515,...,377,511,385,NaN,7,8,8,6,439,93
first,NaN,NaN,NaN,2020-05-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,2020-05-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,434.608247,NaN,NaN,1.988462,2.155769,NaN,...,NaN,NaN,NaN,1.355769,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,692.991501,NaN,NaN,0.851080,0.853851,NaN,...,NaN,NaN,NaN,3.213406,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,1.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,750.000000,NaN,NaN,2.000000,3.000000,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,2000.000000,NaN,NaN,5.000000,8.000000,NaN,...,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,NaN

### Registros Unicos
Se obtendran solo los ultimos registros obtenidos para cada id de registro (idregistro) utilizando el campo fecharegistro.

In [6]:
dfAnalisisSet = dfFinalSet.loc[dfFinalSet.reset_index().groupby(['idregistro'])['fecharegistro'].idxmax()]

,administracion,banos,habitaciones,latitud,longitud,espacio_m2,piso,precio,favoritos
count,56.000000,303.000000,303.000000,303.000000,303.000000,303.000000,97.000000,3.030000e+02,303.000000
mean,476.000000,2.023102,2.155116,14.608076,-90.501142,125.296700,3.948454,1.565605e+05,1.438944
std,707.059159,0.885569,0.864513,0.020481,0.015156,90.328274,3.283073,2.631454e+05,2.953626
min,0.000000,1.000000,1.000000,14.586000,-90.550000,25.000000,1.000000,5.000000e+02,0.000000
25%,0.000000,1.000000,2.000000,14.594000,-90.508000,65.000000,1.000000,1.000000e+03,0.000000
50%,0.000000,2.000000,2.000000,14.599000,-90.503000,100.000000,3.000000,3.900000e+03,1.000000
75%,881.250000,3.000000,3.000000,14.622500,-90.494000,151.500000,5.000000,2.175000e+05,2.000000
max,2000.000000,5.000000,8.000000,14.676000,-90.465000,600.000000,15.000000,1.250000e+06,33.000000