# Data Wrangling

## Librerias

### Instalacion

In [1]:
import sys
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install psycopg2
!{sys.executable} -m pip install sqlalchemy

Requirement already satisfied: pandas in c:\users\yadde\miniconda3\lib\site-packages (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\yadde\miniconda3\lib\site-packages (from pandas) (1.18.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\yadde\miniconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\yadde\miniconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\yadde\miniconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: psycopg2 in c:\users\yadde\miniconda3\lib\site-packages (2.8.5)
Requirement already satisfied: sqlalchemy in c:\users\yadde\miniconda3\lib\site-packages (1.3.17)

### Importacion

In [2]:
import sqlalchemy
import pandas as pd

print("Import succeded")

Import succeded

## Lectura Datos
Primeramente realizaremos la lectura de datos en la base de datos postgres

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:150592@localhost:5432/DBApartamentos')

dfEncabezadoRegistros = pd.read_sql_query('select * from encabezadoregistros',con=engine)
dfDetalleRegistros = pd.read_sql_query('select * from detalleregistros',con=engine)

dfDetalleRegistros.head(10)

,codigodetalle,codigoencabezado,nombrecampo,valorcampo,valorjson,fecharegistro
0,1,1,Tipo,Apartamento,None,2020-05-14
1,2,1,Amueblado,No,None,2020-05-14
2,3,1,Habitaciones,1,None,2020-05-14
3,4,1,Baños,1,None,2020-05-14
4,5,1,Metros Cuadrados Totales,25 m2,None,2020-05-14
5,6,1,Parqueadero,Si,None,2020-05-14
6,7,1,Administración,0,None,2020-05-14
7,8,1,Precio,US$ 800,None,2020-05-14
8,9,1,Latitude,14.618,None,2020-05-14
9,10,1,Longitude,-90.516,None,2020-05-14

## Funciones

## Wrangling Detalle

Primeramente procederemos a realizar una transformacion de los datos detalle. El objetivo es dejar los diferentes tipos de campos (NombreCampo) como columnas de un data frame, y que solo exista un registro por cada codigo encabezado.

In [7]:
dfDetalleRegistros.dtypes

codigodetalle        int64
codigoencabezado     int64
nombrecampo         object
valorcampo          object
valorjson           object
fecharegistro       object
dtype: object

In [8]:
dfDetalleRegistros.groupby(['nombrecampo']).count()['codigodetalle']

nombrecampo
Administración               58
Amueblado                   147
Antigüedad                   88
Baños                       280
Habitaciones                280
JSON                        280
Latitude                    280
Longitude                   280
Metros Cuadrados Totales    280
Parqueadero                 263
Piso                         79
Precio                      280
Tipo                        280
Tipo de vendedor            222
Name: codigodetalle, dtype: int64

### Administracion
Precio que se paga por administracion.

In [16]:
# Obtenemos solo registros con NombreCampo == "Administracion"
dfDetalleAdmin = dfDetalleRegistros.loc[dfDetalleRegistros["nombrecampo"] == "Administración",
                                        ["codigoencabezado", "nombrecampo", "valorcampo"]]

# Reseteamos valores de indices.
dfDetalleAdmin.reset_index(drop = True, inplace = True)

# Eliminamos la columna NombreCampo
dfDetalleAdmin.drop(columns = ['nombrecampo'], inplace = True)

# Renombramos la columna ValorCampo con Administracion
dfDetalleAdmin.rename(columns={'valorcampo': 'administracion'}, inplace = True)

# Cambiamos el tipo de dato
dfDetalleAdmin = dfDetalleAdmin.astype({'administracion': int})

# Mostramos como querdaron los datos
dfDetalleAdmin.head(10)

   codigoencabezado  administracion
0                 1               0
1                 9               1
2                11               0
3                13               0
4                19               0
5                24             100
6                28               0
7                29               0
8                30               0
9                32               0

### Amueblado

In [25]:
# Obtenemos solo registros con NombreCampo == "Amueblado"
dfDetalleAmueblado = dfDetalleRegistros.loc[dfDetalleRegistros["nombrecampo"] == "Amueblado",
                                        ["codigoencabezado", "nombrecampo", "valorcampo"]]

# Reseteamos valores de indices.
dfDetalleAmueblado.reset_index(drop = True, inplace = True)

# Eliminamos la columna NombreCampo
dfDetalleAmueblado.drop(columns = ['nombrecampo'], inplace = True)

# Renombramos la columna ValorCampo con Amueblado
dfDetalleAmueblado.rename(columns={'valorcampo': 'amueblado'}, inplace = True)

# Reemplazamos los valores de amueblado por valores numericos
dfDetalleAmueblado['amueblado'] = dfDetalleAmueblado.amueblado.map({'No': 0, 'Sí': 1})

# Mostramos como querdaron los datos
dfDetalleAmueblado.head(10)

   codigoencabezado  amueblado
0                 1          0
1                 5          1
2                 7          1
3                 8          0
4                 9          1
5                10          0
6                11          1
7                12          0
8                13          0
9                14          0

### Antiguedad

In [29]:
# Obtenemos solo registros con NombreCampo == "Antigüedad"
dfDetalleAntiguedad = dfDetalleRegistros.loc[dfDetalleRegistros["nombrecampo"] == "Antigüedad",
                                        ["codigoencabezado", "nombrecampo", "valorcampo"]]

# Reseteamos valores de indices.
dfDetalleAntiguedad.reset_index(drop = True, inplace = True)

# Eliminamos la columna NombreCampo
dfDetalleAntiguedad.drop(columns = ['nombrecampo'], inplace = True)

# Renombramos la columna ValorCampo con Administracion
dfDetalleAntiguedad.rename(columns={'valorcampo': 'antiguedad'}, inplace = True)

# Reemplazamos los valores de antiguedad
dfDetalleAntiguedad['antiguedad'] = dfDetalleAntiguedad.antiguedad.map({'En construcción': 0,
                                                                     'A estrenar': 1,
                                                                     'Hasta 5 años': 2,
                                                                     'Entre 5 y 10 años': 3,
                                                                     'Entre 10 y 20 años': 4,
                                                                     'Entre 20 y 50 años': 5,
                                                                     'Más de 50 años': 6
                                                                    })

dfDetalleAntiguedad.head(10)

   codigoencabezado  antiguedad
0                 5           2
1                 6           3
2                 7           2
3                 8           1
4                 9           3
5                11           2
6                13           5
7                14           1
8                15           3
9                22           2