# Data Analysis

## Librerias

### Instalacion

### Importacion

In [1]:
import pandas as pd
import numpy as np
import re

## Lectura Datos

In [2]:
dfFinalSet = pd.read_csv('FinalSet.csv', dtype = {'codigoencabezado': 'int32'})

dfFinalSet.describe(include = 'all')

,codigoencabezado,idregistro,linkpagina,fecharegistro,administracion,amueblado,antiguedad,banos,habitaciones,estudio,...,moneda,tipo,tipo_vendedor,favoritos,titulo,fecha_creacion,valido_hasta,descripcion,partner_code,user_id
count,520.000000,5.200000e+02,520,520,97.000000,295,178,520.000000,520.000000,520,...,520,520,431,520.000000,520,520,520,520,81,5.200000e+02
unique,NaN,NaN,303,4,NaN,2,7,NaN,NaN,2,...,2,2,2,NaN,292,323,299,300,47,NaN
top,NaN,NaN,https://www.olx.com.gt/item/alquilo-apartament...,2020-05-20,NaN,No,A estrenar,NaN,NaN,No,...,US$,Apartamento,Inmobiliaria,NaN,APARTAMENTO EN ZONA 15 / ACODI,2020-05-16T03:21:04-06:00,2020-08-13T03:22:20-06:00,"Vivienda abierta (sin muros en el dormitorio),...",11218,NaN
freq,NaN,NaN,5,240,NaN,216,56,NaN,NaN,515,...,377,511,385,NaN,7,8,8,6,4,NaN
mean,260.500000,1.092811e+09,NaN,NaN,434.608247,NaN,NaN,1.988462,2.155769,NaN,...,NaN,NaN,NaN,1.355769,NaN,NaN,NaN,NaN,NaN,3.356498e+07
std,150.255338,1.723419e+07,NaN,NaN,692.991501,NaN,NaN,0.851080,0.853851,NaN,...,NaN,NaN,NaN,3.213406,NaN,NaN,NaN,NaN,NaN,2.283419e+07
min,1.000000,1.033663e+09,NaN,NaN,0.000000,NaN,NaN,1.000000,1.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,4.263970e+06
25%,130.750000,1.100198e+09,NaN,NaN,0.000000,NaN,NaN,1.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,2.325799e+07
50%,260.500000,1.100371e+09,NaN,NaN,0.000000,NaN,NaN,2.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,2.678192e+07
75%,390.250000,1.100374e+09,NaN,NaN,750.000000,NaN,NaN,2.000000,3.000000,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,5.658755e+07
max,520.000000,1.100380e+09,NaN,NaN,2000.000000,NaN,NaN,5.000000,8.000000,NaN,...,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,8.030986e+07

## Data Wrangling

### Conversion Series

In [3]:
dfAnalisisSet = dfFinalSet.astype({'codigoencabezado': 'str', 
                                'idregistro': 'str',
                                'partner_code': 'str',
                                'user_id': 'str'
                               })

dfAnalisisSet['fecharegistro'] = pd.to_datetime(dfAnalisisSet['fecharegistro'], format = "%Y-%m-%d")

dfAnalisisSet.describe(include = 'all')

,codigoencabezado,idregistro,linkpagina,fecharegistro,administracion,amueblado,antiguedad,banos,habitaciones,estudio,...,moneda,tipo,tipo_vendedor,favoritos,titulo,fecha_creacion,valido_hasta,descripcion,partner_code,user_id
count,520,520,520,520,97.000000,295,178,520.000000,520.000000,520,...,520,520,431,520.000000,520,520,520,520,520,520
unique,520,303,303,4,NaN,2,7,NaN,NaN,2,...,2,2,2,NaN,292,323,299,300,48,91
top,349,1100373467,https://www.olx.com.gt/item/alquilo-apartament...,2020-05-20 00:00:00,NaN,No,A estrenar,NaN,NaN,No,...,US$,Apartamento,Inmobiliaria,NaN,APARTAMENTO EN ZONA 15 / ACODI,2020-05-16T03:21:04-06:00,2020-08-13T03:22:20-06:00,"Vivienda abierta (sin muros en el dormitorio),...",nan,24012106
freq,1,5,5,240,NaN,216,56,NaN,NaN,515,...,377,511,385,NaN,7,8,8,6,439,93
first,NaN,NaN,NaN,2020-05-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,2020-05-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,434.608247,NaN,NaN,1.988462,2.155769,NaN,...,NaN,NaN,NaN,1.355769,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,692.991501,NaN,NaN,0.851080,0.853851,NaN,...,NaN,NaN,NaN,3.213406,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,1.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2.000000,2.000000,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,750.000000,NaN,NaN,2.000000,3.000000,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,2000.000000,NaN,NaN,5.000000,8.000000,NaN,...,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,NaN

### Registros Unicos
Se obtendran solo los ultimos registros obtenidos para cada id de registro (idregistro) utilizando el campo fecharegistro.

In [4]:
dfAnalisisSet = dfAnalisisSet.loc[dfAnalisisSet.reset_index().groupby(['idregistro'])['fecharegistro'].idxmax()]

dfAnalisisSet.head(10)

,codigoencabezado,idregistro,linkpagina,fecharegistro,administracion,amueblado,antiguedad,banos,habitaciones,estudio,...,moneda,tipo,tipo_vendedor,favoritos,titulo,fecha_creacion,valido_hasta,descripcion,partner_code,user_id
323,324,1033662607,https://www.olx.com.gt/item/se-alquila-apartam...,2020-05-20,NaN,No,NaN,3,3,No,...,US$,Apartamento,Inmobiliaria,1,Se alquila Apartamento en zona 16 en el sector...,2020-04-29T14:13:30-06:00,2020-07-28T14:13:30-06:00,"Apartamento para estrenar muy cerca a Cayalá, ...",nan,15462053
425,426,1044844084,https://www.olx.com.gt/item/apartamento-en-zon...,2020-05-20,NaN,No,NaN,1,1,No,...,US$,Apartamento,Inmobiliaria,0,APARTAMENTO EN ZONA 10 / ACODI,2020-05-15T18:33:41-06:00,2020-08-13T18:33:41-06:00,Edificio\n– Piscina\n– Gimnasio\n– Área verde ...,nan,24012106
426,427,1044844541,https://www.olx.com.gt/item/apartamento-en-lir...,2020-05-20,NaN,NaN,NaN,2,3,No,...,US$,Apartamento,Inmobiliaria,0,"APARTAMENTO EN LIRIOS, ZONA 16 / ACODI",2020-05-15T18:32:13-06:00,2020-08-13T18:32:13-06:00,– Área de construcción: 120 m2\n\n– Sala\n– Co...,nan,24012106
427,428,1044963404,https://www.olx.com.gt/item/apartamento-en-lir...,2020-05-20,NaN,No,NaN,2,3,No,...,US$,Apartamento,Inmobiliaria,0,"APARTAMENTO EN LIRIOS, ZONA 16 / ACODI",2020-05-15T18:27:15-06:00,2020-08-13T18:27:15-06:00,Edificio\n– Piscina\n– Gimnasio\n– Áreas verde...,nan,24012106
428,429,1045112739,https://www.olx.com.gt/item/apartamento-torre-...,2020-05-20,NaN,NaN,NaN,2,2,No,...,US$,Apartamento,Inmobiliaria,1,"APARTAMENTO TORRE CAPRESE, ZONA 15 OPCIÓN 3/ACODI",2020-05-15T18:10:32-06:00,2020-08-13T18:10:32-06:00,Edificio\n– De 11 Niveles\n– 2 Elevadores\n– 2...,nan,24012106
429,430,1045114174,https://www.olx.com.gt/item/apartamento-liv-vi...,2020-05-20,NaN,NaN,NaN,2,3,No,...,US$,Apartamento,Inmobiliaria,0,"APARTAMENTO LIV VISTA HERMOSA I, ZONA 15 OPCIÓ...",2020-05-15T18:09:01-06:00,2020-08-13T18:09:01-06:00,Complejo \n– Accesos por 2 vías (19 avenida y ...,nan,24012106
430,431,1045221839,https://www.olx.com.gt/item/apartamento-torre-...,2020-05-20,NaN,NaN,NaN,4,4,No,...,US$,Apartamento,Inmobiliaria,1,"APARTAMENTO TORRE CAPRESE, ZONA 15 OPCIÓN 1/ A...",2020-05-15T17:56:03-06:00,2020-08-13T17:56:03-06:00,Edificio\n– De 11 Niveles\n– 2 Elevadores\n– 2...,nan,24012106
431,432,1045223186,https://www.olx.com.gt/item/apartamento-en-cas...,2020-05-20,NaN,NaN,NaN,2,3,No,...,US$,Apartamento,Inmobiliaria,1,"APARTAMENTO EN CASA MARGARITA, ZONA 10/ ACODI",2020-05-15T17:53:55-06:00,2020-08-13T17:53:55-06:00,Edificio\n– Piscina\n– Gimnasio\n– Sauna\n– Sa...,nan,24012106
471,472,1045634091,https://www.olx.com.gt/item/apartamentos-en-bo...,2020-05-20,NaN,NaN,NaN,2,3,No,...,Q,Apartamento,Inmobiliaria,2,APARTAMENTOS EN BOSQUES DE EUSKADI OPCIÓN 2/ A...,2020-05-14T17:03:17-06:00,2020-08-12T17:03:17-06:00,Edificio:\n– Garita de control\n– Salón social...,nan,24012106
484,485,1047819336,https://www.olx.com.gt/item/apartamentos-en-sh...,2020-05-20,NaN,NaN,NaN,1,1,No,...,US$,Apartamento,Inmobiliaria,1,"APARTAMENTOS EN SHIFT CAYALA, ZONA 16 OPCIÓN 1...",2020-05-14T15:08:17-06:00,2020-08-12T15:08:17-06:00,Edificio\n– Lobby\n– Gimnasio\n– Lounge\n– Spa...,nan,24012106

### Cambio Moneda Precio

In [5]:
cambio_moneda = 7.69
dfAnalisisSet['precio_real'] = np.where(dfAnalisisSet['moneda'] == 'US$', dfAnalisisSet['precio'] * cambio_moneda, 
                                        dfAnalisisSet['precio'])

dfAnalisisSet.head(10)

,codigoencabezado,idregistro,linkpagina,fecharegistro,administracion,amueblado,antiguedad,banos,habitaciones,estudio,...,tipo,tipo_vendedor,favoritos,titulo,fecha_creacion,valido_hasta,descripcion,partner_code,user_id,precio_real
323,324,1033662607,https://www.olx.com.gt/item/se-alquila-apartam...,2020-05-20,NaN,No,NaN,3,3,No,...,Apartamento,Inmobiliaria,1,Se alquila Apartamento en zona 16 en el sector...,2020-04-29T14:13:30-06:00,2020-07-28T14:13:30-06:00,"Apartamento para estrenar muy cerca a Cayalá, ...",nan,15462053,23070.00
425,426,1044844084,https://www.olx.com.gt/item/apartamento-en-zon...,2020-05-20,NaN,No,NaN,1,1,No,...,Apartamento,Inmobiliaria,0,APARTAMENTO EN ZONA 10 / ACODI,2020-05-15T18:33:41-06:00,2020-08-13T18:33:41-06:00,Edificio\n– Piscina\n– Gimnasio\n– Área verde ...,nan,24012106,7690.00
426,427,1044844541,https://www.olx.com.gt/item/apartamento-en-lir...,2020-05-20,NaN,NaN,NaN,2,3,No,...,Apartamento,Inmobiliaria,0,"APARTAMENTO EN LIRIOS, ZONA 16 / ACODI",2020-05-15T18:32:13-06:00,2020-08-13T18:32:13-06:00,– Área de construcción: 120 m2\n\n– Sala\n– Co...,nan,24012106,2022470.00
427,428,1044963404,https://www.olx.com.gt/item/apartamento-en-lir...,2020-05-20,NaN,No,NaN,2,3,No,...,Apartamento,Inmobiliaria,0,"APARTAMENTO EN LIRIOS, ZONA 16 / ACODI",2020-05-15T18:27:15-06:00,2020-08-13T18:27:15-06:00,Edificio\n– Piscina\n– Gimnasio\n– Áreas verde...,nan,24012106,9997.00
428,429,1045112739,https://www.olx.com.gt/item/apartamento-torre-...,2020-05-20,NaN,NaN,NaN,2,2,No,...,Apartamento,Inmobiliaria,1,"APARTAMENTO TORRE CAPRESE, ZONA 15 OPCIÓN 3/ACODI",2020-05-15T18:10:32-06:00,2020-08-13T18:10:32-06:00,Edificio\n– De 11 Niveles\n– 2 Elevadores\n– 2...,nan,24012106,2679072.96
429,430,1045114174,https://www.olx.com.gt/item/apartamento-liv-vi...,2020-05-20,NaN,NaN,NaN,2,3,No,...,Apartamento,Inmobiliaria,0,"APARTAMENTO LIV VISTA HERMOSA I, ZONA 15 OPCIÓ...",2020-05-15T18:09:01-06:00,2020-08-13T18:09:01-06:00,Complejo \n– Accesos por 2 vías (19 avenida y ...,nan,24012106,3187843.36
430,431,1045221839,https://www.olx.com.gt/item/apartamento-torre-...,2020-05-20,NaN,NaN,NaN,4,4,No,...,Apartamento,Inmobiliaria,1,"APARTAMENTO TORRE CAPRESE, ZONA 15 OPCIÓN 1/ A...",2020-05-15T17:56:03-06:00,2020-08-13T17:56:03-06:00,Edificio\n– De 11 Niveles\n– 2 Elevadores\n– 2...,nan,24012106,7533893.00
431,432,1045223186,https://www.olx.com.gt/item/apartamento-en-cas...,2020-05-20,NaN,NaN,NaN,2,3,No,...,Apartamento,Inmobiliaria,1,"APARTAMENTO EN CASA MARGARITA, ZONA 10/ ACODI",2020-05-15T17:53:55-06:00,2020-08-13T17:53:55-06:00,Edificio\n– Piscina\n– Gimnasio\n– Sauna\n– Sa...,nan,24012106,6921000.00
471,472,1045634091,https://www.olx.com.gt/item/apartamentos-en-bo...,2020-05-20,NaN,NaN,NaN,2,3,No,...,Apartamento,Inmobiliaria,2,APARTAMENTOS EN BOSQUES DE EUSKADI OPCIÓN 2/ A...,2020-05-14T17:03:17-06:00,2020-08-12T17:03:17-06:00,Edificio:\n– Garita de control\n– Salón social...,nan,24012106,1041468.00
484,485,1047819336,https://www.olx.com.gt/item/apartamentos-en-sh...,2020-05-20,NaN,NaN,NaN,1,1,No,...,Apartamento,Inmobiliaria,1,"APARTAMENTOS EN SHIFT CAYALA, ZONA 16 OPCIÓN 1...",2020-05-14T15:08:17-06:00,2020-08-12T15:08:17-06:00,Edificio\n– Lobby\n– Gimnasio\n– Lounge\n– Spa...,nan,24012106,943301.54

### Columna Oferta
Se creara una columna que determine si la oferta es de alquiler o venta. Se utilizara el campo

In [6]:
dfAnalisisSet['oferta'] = ['Venta' if precio > 20000 else 'Alquiler' for precio in dfAnalisisSet['precio']]

dfAnalisisSet.groupby(['oferta']).count()['codigoencabezado']

oferta
Alquiler    183
Venta       120
Name: codigoencabezado, dtype: int64